        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            {%load staticfiles %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>CV Website</title>

            <!-- Bootstrap Core CSS -->
            <link href="{% static 'website/Assets/csss/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

            <!-- Fonts -->
            <link href="{% static 'website/Assets/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
            <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/Assets/images/stamp.png' %}">
            <link href="{% static 'website/Assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

            <link href="{% static 'website/Assets/css/animate.min.css' %}" rel="stylesheet" />
            <!-- Squad theme CSS -->
            <link href="{% static 'website/Assets/csss/style.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'website/Assets/color/default.css' %}" rel="stylesheet">

        </head>

        <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
            <!-- Preloader -->
            <div id="preloader">
                <div id="load"></div>
            </div>

            <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a href="#" class="site_title slogan"><div style="margin-top: 0;"><label style="opacity:20%;color: rgba(4,140,131,0.78); font-size: 30px; background-color: rgba(255,15,15,0.64); opacity:10%" class="badge">
                            <i class="fa fa-user"></i> <span> Me-TechGlobal Ltd.<span style=" font-size: 12px;">™</span></span></label>
                        </div></a>

                    </div>

                    <img src="{% static 'website/Assets/imgg/index.png' %}" style="position: relative;max-width: 50px;margin-bottom:0px;margin-left: 5px;">

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#intro">Home</a></li>
                            <li><a href="#experience">Experience</a></li>
                            <li><a href="#education">Education</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#freelancer">Freelancing</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

            <!-- Section: intro -->
            <section id="intro"  class="home-section text-center" style="padding:50px;border-radius:50px;margin-top: 50px;">
                
            </section>
            <!-- /Section: contact -->

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="wow shake" data-wow-delay="0.4s">
                                <div class="page-scroll marginbot-30">
                                    <a href="#intro" id="totop" class="btn btn-circle">
                                        <i class="fa fa-angle-double-up animated"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="">©2018 All Rights Reserved <i class="fa fa-user" >Me-TechGlobal Ltd</i>. Privacy and Terms</p>
                    <!--
                        All links in the footer should remain intact.
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Squadfree
                    -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Core JavaScript Files -->
    <script src="{% static 'website/Assets/jsss/jquery.min.js '%}"></script>
    <script src="{% static 'website/Assets/jsss/bootstrap.min.js '%}"></script>
    <script src="{% static 'website/Assets/jsss/jquery.easing.min.js '%}"></script>
    <script src="{% static 'website/Assets/jsss/jquery.scrollTo.js '%}"></script>
    <script src="{% static 'website/Assets/jsss/wow.min.js '%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'website/Assets/jsss/custom.js '%}"></script>

</body>

</html>