
a,.tp-caption a.btn:hover {
	color: rgba(6,145,144,0.93);
}
.top-nav-collapse {
	background: rgba(255,15,15,0.64);
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: rgba(6,145,144,0.93);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: rgba(6,145,144,0.93);
}

.widget-avatar .avatar:hover {
    border: 5px solid rgba(6,145,144,0.93);
}

.bg-skin {
	background: rgba(6,145,144,0.93);
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: rgba(6,145,144,0.93);
}

footer {
    background-color: rgba(6,145,144,0.93);
}

.btn-skin {
  color: #fff;
  background-color: rgba(6,145,144,0.93);
  border-color: rgba(6,145,144,0.93);
}
